#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;


    #footerContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;

        #logoBox {
            display: flex;
            align-items: center;

            figure {
                margin-right: 8px;
            }

            p {
                .logo1 {
                    color: white;
                }

                .logo2 {
                    color: #FF6100;
                }
            }
        }

        .rights {
            color: #D9D9D9;
        }
    }
}